.note {
    padding-left: 2rem;
}

.stock {
    align-items: center;
    justify-items: start;
}

.tooltip * {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 1px;
    padding-bottom: 1px;
}

#heatmap {
    min-height: 450px;
}